<main>
    
    <next-alarm></next-alarm> 
    <current-time></current-time>
    
    <div class="clock" id="arriving-clock">
        <p>arriving at 
            <select [(ngModel)]="loc.dest">
                <option *ngFor="let location of loc.getLocations()" [ngValue]="location">{{location.label}}</option>    
            </select> <!-- <span id="destination">{{ loc.dest.label }}</span>  -->
            by...</p>
        <h2>{{ time.arrival?.hrs }}:{{ time.arrival?.mins }}<span id="ampm">{{ time.arrival?.ampm }}</span></h2>
    </div>
    
</main>